.rc-calendar {
  box-sizing: border-box;
  padding: 0 4px 0 4px;
  position: relative;
  margin-bottom: 40px;

  &:after {
    display: block;
    content: "";
    width: 205px;
    height: 1px;
    background-color: #EEEEEE;
    position: absolute;
    left: 13px;
    bottom: -15px;
  }
}

.rc-calendar * {
  box-sizing: border-box;
}

.rc-calendar-hidden {
  display: none;
}

.rc-calendar-next-year-btn,
.rc-calendar-prev-year-btn {
  display: none;
}

.rc-calendar-header .rc-calendar-prev-month-btn:after,
.rc-calendar-month-panel-prev-year-btn:after,
.rc-calendar-year-panel-prev-decade-btn:after,
.rc-calendar-decade-panel-prev-century-btn:after {
  content: "";
  background-image: url(https://img.icons8.com/officexs/64/000000/expand-arrow.png);
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
  transform: rotate(90deg);
  display: block;
  background-size: contain;
}

.rc-calendar-header .rc-calendar-next-month-btn:after,
.rc-calendar-month-panel-next-year-btn:after,
.rc-calendar-year-panel-next-decade-btn:after,
.rc-calendar-decade-panel-next-century-btn:after {
  content: "";
  background-image: url(https://img.icons8.com/officexs/64/000000/expand-arrow.png);
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  width: 8px;
  height: 12px;
  display: block;
  background-size: contain;
}

.rc-calendar-year-select,
.rc-calendar-month-select {
  padding: 0 2px;
}

.rc-calendar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  color: #989898;
  padding: 0;

  .rc-calendar-prev-month-btn {
    position: relative;
    left: 0;
    top: 1px;
    padding-right: 49px;
  }

  .rc-calendar-next-month-btn {
    position: relative;
    right: 0;
    top: 1px;
    padding-left: 49px;
  }
}

.rc-calendar-year-panel {

  .rc-calendar-year-panel-header {
    display: flex;
    align-items: center;
    justify-content: center;

    .rc-calendar-year-panel-prev-decade-btn {
      position: relative;
      padding-right: 49px;
    }

    .rc-calendar-year-panel-next-decade-btn {
      position: relative;
      padding-left: 49px;
    }

    .rc-calendar-year-panel-decade-select {
      width: 70px;
    }
  }
}

.rc-calendar-month-panel {

  .rc-calendar-month-panel-header {
    display: flex;
    align-items: center;
    justify-content: center;

    .rc-calendar-month-panel-prev-year-btn {
      position: relative;
      padding-right: 49px;
    }

    .rc-calendar-month-panel-next-year-btn {
      position: relative;
      padding-left: 49px;
    }

    .rc-calendar-month-panel-year-select {
      width: 70px;
    }
  }
}

.rc-calendar-decade-panel {

  .rc-calendar-decade-panel-header {
    display: flex;
    align-items: center;
    justify-content: center;

    .rc-calendar-decade-panel-prev-century-btn {
      position: relative;
      padding-right: 55px;
    }

    .rc-calendar-decade-panel-next-century-btn {
      position: relative;
      padding-left: 55px;
    }

    .rc-calendar-decade-panel-century {

    }
  }
}

.rc-calendar-column-header {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.916667px;
  color: #808080;

  .rc-calendar-column-header-inner {
    font-weight: bold;
  }
}

.rc-calendar-year-select {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
}

.rc-calendar-month-select {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: normal;
}

.rc-calendar-year-select:hover,
.rc-calendar-month-select:hover,
.rc-calendar-day-select:hover,
.rc-calendar-year-panel-header > a:hover,
.rc-calendar-month-panel-header > a:hover {
  color: #a7893d;
}

.rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year,
.rc-calendar-year-panel-year:hover,
.rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year:hover,
.rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month,
.rc-calendar-month-panel-cell .rc-calendar-month-panel-month:hover,
.rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade,
.rc-calendar-decade-panel-decade:hover {
  background: rgba(77, 161, 255, 0.1);
  color: #fff;
}


.rc-calendar-date {
  width: 28px;
  height: 28px;
  margin: 5.5px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.916667px;
  color: #999999;
}

.rc-calendar-selected-day .rc-calendar-date,
.rc-calendar-date:hover {
  background: none;
}

.rc-calendar {
  width: fit-content;
  border: none;
  box-shadow: none;
}

.rc-calendar-body {
  height: initial;
  padding: 0;
}

.rc-calendar-date-panel {
  box-sizing: border-box;
}

.rc-calendar-today .rc-calendar-date {
  border: none;
  background: none;
}

.rc-calendar-selected-date .rc-calendar-date {
  background: rgba(77, 161, 255, 0.1);
  border-radius: 4px;
  border: none;
  color: #fff;
}

.rc-calendar-selected-date .rc-calendar-date:hover {
  background: #F5F5F5;
}

.rc-calendar-last-month-cell .rc-calendar-date,
.rc-calendar-next-month-btn-day .rc-calendar-date {
  color: #dedede;
}

.rc-calendar-input-wrap {
  border: none;
  border-radius: 4px;
  padding: 0;
}

.rc-calendar-date-input-wrap:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 16px;
  width: 18px;
  height: 20px;
  background-image: url(https://www.pinclipart.com/picdir/middle/35-357307_file-icon-svg-wikimedia-commons-open-calendar-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.rc-calendar-input {
  color: #666666;
  font-size: 16px;
  padding: 6px 6px 6px 50px;
  height: 48px;
  border: 1px solid #dedede;
  border-radius: 4px;
}

.rc-calendar-input:focus {
  border-color: #3b94a3;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
}

.rc-calendar-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c1c1c1;
  opacity: 1; /* Firefox */
}

.rc-calendar-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c1c1c1;
}

.rc-calendar-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c1c1c1;
}

.rc-calendar-clear-btn {
  display: none;
}

.calendar-style {
  position: relative;

  .calendar-input {
    width: 201px;
    height: 45px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #E9EFF4;
    border-radius: 4px;
  }

  .calendar-input__font {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 26px;
    color: #323C47;
  }

  .calendar-style__icon-img {
    position: absolute;
    font-size: 15px;
    padding: 16px 15px 15px 16px;
    top: 0;
    right: 0;
    color: #4DA1FF;
    background-color: rgba(244, 247, 249, 0.4);
    border-left: 1px solid #E9EFF4;
    cursor: pointer;
  }
}