//Header create event
.create-cancel {
  background: rgba(233, 239, 244, 0.48);
  border-radius: 4px;
  padding: 14px 24px 14px 30px;

  &:focus {
    box-shadow: none;
  }

  .create-cancel__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #989898;
    opacity: 0.45;
    mix-blend-mode: normal;
  }
}
//Event
.event-item {
  padding: 34px 30px 27px 30px;

  .event-item__title {
    margin-bottom: 31px;

    .event-item__title-text {
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.1px;
      text-transform: uppercase;
      color: #323C47;
      margin-bottom: 12px;
    }
  }

  .event-item__date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .event-item__date-day {
      display: flex;
      flex-direction: column;
    }

    .event-item__date-hour {
      display: flex;
      flex-direction: column;
    }
    .event-item__date-minute {
      display: flex;
      flex-direction: column;
    }

    .event-item__date-duration {
      display: flex;
      flex-direction: column;
    }
  }

  .event-item__location {
    margin-bottom: 70px;

    .event-item__location-text {
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: -0.2px;
      color: #323C47;
      margin-bottom: 10px;
    }
  }

  .event-item__upload {

    .event-item__upload-text {
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: #323C47;
      margin-bottom: 20px;
      letter-spacing: -0.108333px;
    }

  }
}
//Date title
.event-date__title {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #323C47;
  margin-bottom: 11px;
}
//Input
.event-item__input {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 20px;
  border: 1px solid #E9EFF4;
  border-radius: 4px;

  .input-form {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    letter-spacing: -0.1625px;
    color: #323C47;
    border: none;
    margin-right: 10px;
    padding: 0;
    height: 100%;

    &:focus {
      box-shadow: none;
    }
  }
  .input-form__location {
    font-size: 12px;
    line-height: 28px;
    letter-spacing: normal;
  }

  .input-add {
    background-color: #FFFFFF;

    .input-add__btn {
      padding: 8px 11px 7px 12px;
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      color: #4DA1FF;
      border: 1px solid #4DA1FF;
      border-radius: 2px;

      &:focus {
        box-shadow: none;
      }
    }
  }
}
//Upload
.event-item__upload {

  .event-upload__btn-files {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 29px;
  }

  .event-upload__drop-files {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87px;
    border: 1px dashed #4DA1FF;
    border-radius: 6px;
  }
}
.event-upload__btn-files {

  .event-files {
    display: flex;
    align-items: center;

    .event-document__icon {
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(77, 161, 255, 0.1);
      border-radius: 2px;
      margin-right: 17px;

      .event-document__icon-style {
        color: #4DA1FF;
        font-size: 12px;
      }
    }

    .event-document {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      color: #868686;
      margin-right: 13px;
      cursor: pointer;

      &:last-of-type {
        margin-right: 0;
      }
    }
    .event-document__name {
      font-size: 12px;
      line-height: 15px;
      color: #262D37;
      margin-right: 17px;
      cursor: auto;
    }
    .event-document__note {
      color: #4DA1FF;
    }
  }

  .event-btn {
    padding: 7px 16px 8px 10px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    background-color: #4DA1FF;
    border: 1px solid rgba(77, 161, 255, 0.7);
    border-radius: 2px;

    &:focus {
      box-shadow: none;
    }
  }
}

.event-upload__drop-files {

  .drop-files__title {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.0916667px;
    color: #4DA1FF;

    .drop-files__title-icon {
      color: #4DA1FF;
      margin-right: 9px;
    }
  }
}
//Members container
.members-item {
  padding: 33px 30px 32px 30px;
}
//Add Members
.members-item__team {
  margin-bottom: 39px;

  .members-item__team-invite {
    display: flex;

    .members-item__team-avatar {
      width: 30px;
      height: 30px;
      margin-right: 14px;
      padding: 9px 8px 8px 8px;
      position: relative;

      .avatar-icon__check {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        color: #FFFFFF;
        background-color: rgba(77, 161, 255, 0.2);
        font-size: 5px;
        top: -4px;
        right: -3px;
        z-index: 1;
      }
      .avatar-icon__check-one {
        background-color: #4DA1FF;
      }
      .avatar-icon__check-two {
        background-color: #FFD012;
      }
      .avatar-icon__check-three {
        background-color: rgba(255, 109, 74, 0.75);
      }
    }
  }

  .members-item__team-btn {
    border: 1px solid #4DA1FF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #4DA1FF;
    padding: 3px 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    &:focus {
      box-shadow: none;
    }

    .members-item__team-icon {
      font-size: 11px;
      margin-right: 7px;
    }
  }
}
//Add Guests
.members-item__guests {
  margin-bottom: 30px;
}
//Checkbox
.members-item__notify {
  margin-bottom: 30px;

  .members-item__notify-checkbox {
    display: flex;
    border: 1px solid #E9EFF4;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    letter-spacing: -0.1625px;
    color: #323C47;
    padding: 8px 22px 11px 14px;
    max-width: 188px;

    .members-notify__checkbox {
      margin-right: 18px;
      padding-left: 23px;

      &:last-of-type {
        margin-right: 0;
      }

      .custom-control-input {

        &:focus {

          &~ .custom-control-label {

            &:before {
              box-shadow: none;
            }
          }
        }

        &:checked{

          &~ .custom-control-label {

            &:before {
              background-color: #4DA1FF;
            }
          }
        }
      }

      .custom-control-label {
        cursor: pointer;

        &:before {
          border-radius: 50%;
          width: 12px;
          height: 12px;
          border: none;
          background-color: rgba(77, 161, 255, 0.2);
          top: 8px;
          left: -22px;
        }

        &:after {
          top: 6px;
          left: -23px;
          width: 14px;
          height: 16px;
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>");
        }
      }
    }
  }
}
//Reminder
.members-item__reminder {
  margin-bottom: 30px;

  .members-item__reminder-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 26px;
    color: #323C47;
    mix-blend-mode: normal;
    opacity: 0.3;

    &:focus {
      box-shadow: none;
    }
  }
}
//Title
.members-item__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #323C47;
  display: inline-block;
  margin-bottom: 10px;
}
//Button "Create event"
.members-item__create {
  width: 100%;
  padding: 16px 0 13px 0;
  background-color: #4DA1FF;
  border: 1px solid rgba(77, 161, 255, 0.7);
  border-radius: 2px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    color: #FFFFFF;
  }
}
//Select "Set reminder"
.select-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  color: #323C47;
  margin-bottom: 30px;
  cursor: pointer;
}