//Header title + Create
.documents-header {
  display: flex;
  align-items: center;

  .documents-title {
    margin: 0px 6px 0px 0px;
  }

  .documents-header__add-btn {
    display: flex;
    align-items: center;
    background-color: #4DA1FF;
    border-radius: 2px;
    padding: 7px 16px 8px 10px;

    &:focus {
      box-shadow: none;
    }

    .documents-header__add-text {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      color: #FFFFFF;
    }
  }
}
//Header title cards
.documents-header__view {
  background-color: rgba(233, 239, 244, 0.48);
  border-radius: 4px;

  .documents-header__view-cards {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 9px 15px 9px 18px;
    background-color: #FFFFFF;
    margin: 6px 0px 6px 7px;
    border-radius: 3px !important;
    background-color: rgba(233, 239, 244, 0.48);
    color: #989898;
    opacity: 0.45;

    &:focus, &.focus {
      box-shadow: none;
    }

    &:last-of-type {
      margin-left: 0px;
      margin-right: 7px;
    }

    &:active, &.active {
      background-color: #FFFFFF;
      color: #323C47;
      opacity: 1;
    }

      .documents-header__view-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        mix-blend-mode: normal;
      }
  }
}
//Title
.documents-title__header {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #323C47;
  margin-left: 6px;
  margin-bottom: 13px;
}
//Menu navigation
.favourites-item {
  padding: 31px 20px 20px 20px;
  border-radius: 6px;

  .favourites-item__tab {
    border: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    max-height: calc( 100vh - 270px);
    flex-wrap: nowrap;
    padding-right: 12px;
    margin-right: -12px;

    //Scrollbar
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #F5F5F5;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(77, 161, 255, 0.5);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    .favourites-item__tab-nav {
      border: 1px solid #E9EFF4;
      margin-bottom: 20px;
      border-radius: 5px;
      background-color: #FFFFFF;

      .tab-nav__link {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 13.5px;
        line-height: 16px;
        color: #323C47;
        padding: 20px 20px 17px 21px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        border: none;
        cursor: pointer;

        .tab-nav__icon-dots {
          position: absolute;
          color: rgba(208, 215, 221, 0.72727);
          right: 20px;
        }

        .icon-img__tab {
          width: 27px;
          height: 25px;
          fill: #2E92FF;
          margin-right: 24px;
        }

        &:active, &.active {
          border: none;
          color: #FFFFFF;
          fill: #FFFFFF;
          background-color: #4DA1FF;

          .tab-nav__icon-dots {
            color: #FFFFFF;
          }

          .icon-img__tab {
            fill: #FFFFFF;
          }
        }
      }
    }
  }
}
//Folders navigation
.folders-item {
  padding: 30px;
  height: 100%;

  .folders-item__tabpane {

    .folders-title__header {
      margin-left: 0;
      margin-bottom: 15px;
    }

    .folders-item__tab {
      border: none;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 17px;
      flex-wrap: nowrap;
      overflow: auto;
      padding-bottom: 20px;
      //Scrollbar
      &::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(77, 161, 255, 0.5);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      }

      .folders-item__tab-nav {
        border: 1px solid #E9EFF4;
        margin-right: 22px;
        border-radius: 5px;
        background-color: #FFFFFF;

        &:last-of-type {
          margin-right: 0;
        }

        .folders-nav__link {
          font-family: 'Montserrat', sans-serif;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: #323C47;
          padding: 14px 15px;
          position: relative;
          width: 178px;
          display: flex;
          align-items: center;
          border: none;
          cursor: pointer;

          .folders-nav__icon-folder {
            width: 27px;
            height: 25px;
            margin-right: 16px;
            fill: #2E92FF;
          }

          &:active, &.active {
            border: none;

            &:after {
              position: absolute;
              content: "";
              display: block;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: #4DA1FF;
              right: 4px;
              top: 4px;
            }
          }
        }
      }
    }
  }
}
//File
.files-title__header {
  margin-left: 0;
  margin-bottom: 18px;
}

.files-item {

  .files-item_tab-content {

    .files-item_content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow: auto;
      height: 100vh;
      max-height: calc( 100vh - 400px);
      padding-right: 20px;
      margin-right: -20px;
      //Scrollbar
      &::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(77, 161, 255, 0.5);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      }

      .files-item_content-docs {
        padding: 23px 9px 21px 9px;
        width: 178px;
        height: 153px;
        border-radius: 5px;
        border: 1px solid #4DA1FF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        margin-bottom: 30px;

        &:hover {
          text-decoration: none;

          &:after {
            position: absolute;
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #4DA1FF;
            right: 4px;
            top: 4px;
          }
        }

        .content-docs__img {
          margin-bottom: 18px;
        }

        .content-docs__text {
          font-family: 'Montserrat', sans-serif;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.109091px;
          color: #323C47;
        }
      }
    }
  }
}

.documents-content {
  margin-bottom: 33px;
}

.icon-img__tab {
  fill: #FFFFFF;
}