//Header title + Create
.meetings-header {
  display: flex;
  align-items: center;

  .meetings-title {
    margin: 0px 16px 0px 0px;
  }

  .meetings-header__export-btn {
    display: flex;
    align-items: center;
    background-color: #4DA1FF;
    border: 1px solid rgba(77, 161, 255, 0.7);
    border-radius: 2px;
    padding: 7px 17px 8px 10px;

    &:focus {
      box-shadow: none;
    }

    .meetings-header__export-text {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      color: #FFFFFF;
    }
  }
}
//Header title cards
.meetings-header__view {
  background-color: rgba(233, 239, 244, 0.48);
  border-radius: 4px;

  .meetings-header__view-cards {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 9px 18px 9px 20px;
    background-color: #FFFFFF;
    margin: 5px 0px 5px 5px;
    border-radius: 3px !important;
    background-color: rgba(233, 239, 244, 0.48);
    color: #989898;
    opacity: 0.45;

    &:focus, &.focus {
      box-shadow: none;
    }

    &:last-of-type {
      margin-left: 0px;
      margin-right: 5px;
    }

    &:active, &.active {
      background-color: #FFFFFF;
      color: #323C47;
      opacity: 1;
    }

      .meetings-header__view-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        mix-blend-mode: normal;
      }
  }
}
//Cards
.meetings-card {
  background-color: #FFFFFF;
  padding: 25px 20px 36px 20px;
  margin-bottom: 72px;
  ////title card
  .meetings-card__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    color: #474F58;
    letter-spacing: 0.13px;
    position: relative;
    margin-bottom: 48px;

    .meetings-card__title-number {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }

    .meetings-card__title-ordinal {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
    }

    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 52px;
      border-bottom: 4px solid rgba(152, 152, 152, 0.2);
      border-radius: 2px;
      bottom: -12px;
    }
  }
  //title card active
  .meetings-card__title-active {

    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 150px;
      border-bottom: 4px solid #4DA1FF;
      border-radius: 2px;
      bottom: -12px;
    }
  }
  //task list
  .task-list {
    background: #FFFFFF;
    border: 1px solid #E9EFF4;
    border-radius: 6px;
    padding: 16px 5px 15px 15px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0px;
    }

    .task-list__time {
      display: block;
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: -0.315526px;
      opacity: 0.7;
      color: #868686;
      margin-bottom: 15px;
    }

    .task-list__text {
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.286842px;
      color: #323C47;
      margin-bottom: 29px;
    }

    //task list icons
    .invite-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFFFFF;
      border: 1px solid rgba(77, 161, 255, 0.7);
      border-radius: 2px;
      width: 25px;
      height: 25px;
      margin-right: 7px;
      color: #4DA1FF;

      &:focus {
        box-shadow: none;
      }

      .invite-btn__icon {
        font-size: 11px;
      }
    }

    .invite-attachement {
      display: flex;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: -0.286842px;
      color: #868686;
      opacity: 0.7;
      text-align: center;

      .invite-attachement__icon {
        margin-right: 5px;
        transform: rotate(-45deg);
        font-size: 11px;
        color: #4DA1FF;
      }
    }
  }
  //tasks list active
  .task-list-active {
    background: #4DA1FF;
    border: 1px solid #4DA1FF;

    .task-list__time-active {
      color: #FFFFFF;
    }

    .task-list__text-active {
      color: #FFFFFF;
    }

    .invite-btn__active {
      border: 1px solid #FFFFFF;
      background-color: #4DA1FF;
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #FFFFFF;
      width: 41px;

      .invite-btn__icon-active {
        padding: 0px 6px 4px 5px;
      }
    }

    .invite-avatar__active {
      color: #FFFFFF;

      .avatar-icon__active {
        background: rgba(255, 255, 255, 0.2);
        color: #FFFFFF;
      }
    }

    .invite-attachement__active {
      color: #FFFFFF;

      .invite-attachement__icon-active {
        color: #FFFFFF;
        opacity: 1;
      }
    }
  }
}
//avatars icon
.invite-avatar {
  min-width: 25px;
  min-height: 25px;
  margin-right: 5px;
}

.avatar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: -0.234689px;
  width: 25px;
  height: 25px;
}

.avatar-icon__one {
  color: #4DA1FF;
  background-color: rgba(77, 161, 255, 0.1);
  border-radius: 2px;
}

.avatar-icon__two {
  color: #FFD012;
  background-color: rgba(255, 208, 18, 0.1);
  border-radius: 2px;
}

.avatar-icon__three {
  color: #FF6D4A;
  background-color: rgba(255, 109, 74, 0.1);
  border-radius: 2px;
}

.avatar-icon__four {
  color: #7C4DC4;
  background-color: rgba(124, 77, 196, 0.1);
  border-radius: 2px;
}
//task list none
.task-list__none {
  position: relative;

  .task-list__text-none {
    margin-bottom: 0px !important;
  }

  .invite-attachement__none {
    position: absolute;
    top: 48px;
    right: 10px;
  }
}
//Link text decoration
.invite-avatar, .invite-attachement {

  &:hover {
    text-decoration: none;
  }
}
//Scroll
.meetings-scroll {

  //Scrollbar
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(77, 161, 255, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}