.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;

  .menu-item__header {
    margin-right: 0px;
    margin-bottom: 70px;
    padding: 30px 15px 20px 15px;

    .menu-item__header-logo {

    }
  }

  .menu-item__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .menu-item__nav-point {
      position: relative;
      margin-bottom: 10px;
      width: 100%;

      &:last-of-type {
        margin-bottom: 0px;
      }

      .nav-point__link {
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;

        &.active {

          &:before {
            display: block;
            content: "";
            position: absolute;
            height: 44px;
            width: 5px;
            background: #4192EC;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            left: -15px;
            top: 5px;
            box-shadow: 2px 3px 11px rgba(1, 172, 253, 0.74);
          }
        }

        .nav-point__link-icon {

        }
      }
    }
  }
}

.menu-wrap {
  width: 100%;
}
