//Header sessions
.sessions-header {
  display: flex;
  align-items: center;
}

.sessions-title {
  margin: 0px 30px 0px 0px;
}

.sessions-header__export-btn {
  display: flex;
  color: rgba(77, 161, 255, 0.742018);
  background-color: #FFFFFF;
  border: 1px solid rgba(77, 161, 255, 0.7);
  border-radius: 2px;
  padding: 8px 13px 7px 12px;

  .sessions-header__export-icon {
    font-size: 11px;
    padding-right: 9px;
  }

  .sessions-header__export-text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 11px;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover {
    color: rgba(77, 161, 255, 0.742018);
  }
}

.sessions-header__view {
  background-color: rgba(233, 239, 244, 0.48);
  border-radius: 4px;

  .sessions-header__view-cards {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 9px 14px 9px 10px;
    background-color: #FFFFFF;
    margin: 5px 0px 5px 5px;
    border-radius: 3px !important;
    background-color: rgba(233, 239, 244, 0.48);

    &:focus, &.focus {
      box-shadow: none;
    }

    &:last-of-type {
      margin-left: 0px;
      margin-right: 5px;
    }

    &:active, &.active {
      background-color: #FFFFFF;

      .sessions-header__view-icon {
        color: #007AFF;
        background-color: #FFFFFF;
      }

      .sessions-header__view-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #323C47;
      }
    }
  }
}

.sessions-header__view-icon {
  color: #989898;
  padding-right: 11px;
}

.sessions-header__view-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #989898;
}
//Cards
.sessions-card {
  padding: 31px 36px 26px 31px;

  .sessions-card__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;

    .sessions-card__title-head {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #323C47;
    }

    .sessions-card__title-icon {
      color: #DADADA;
    }
  }

  .sessions-card__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(50, 60, 71, 0.4);
    letter-spacing: -0.1px;

    .sessions-card__subtitle-number {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #4DA1FF;
      padding-right: 6px;
      position: relative;
      top: -3px;
    }
  }
}

//Users
.users-wrap {
  margin-bottom: 40px;
  padding: 30px 28px 31px 39px;

  .users-wrap__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .users-wrap__header-img {
      width: 66px;
      height: 69px;
      border-radius: 50%;
    }

    .users-wrap__header-content {
      padding-left: 22px;
      max-width: 70%;

      .content-title {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: -0.19px;
        color: #323C47;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .content-mail {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 11px;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: rgba(50, 60, 71, 0.5);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .content-position {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -0.1px;
        color: rgba(50, 60, 71, 0.614385);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .users-wrap__overall {
    border: 1px solid #E9EFF4;
    border-radius: 5px;

    .user-wrap__overall-btn {
      display: flex;
      margin-bottom: 14px;

      .overall-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 13px 45px 7px 24px;
        border-right: 1px solid #E9EFF4;
        border-bottom: 1px solid #E9EFF4;
        cursor: pointer;
        flex: 0 0 50%;
        width: 50%;

        &:focus, &.focus {
          box-shadow: none;
        }

        &:last-of-type {
          padding-right: 48px;
          border-right: none;
        }

        .overall-btn__text {
          font-family: 'Montserrat', sans-serif;
          font-weight: normal;
          font-size: 11px;
          line-height: 13px;
          letter-spacing: 0.39px;
          color: #323C47;
        }

        .overall-btn__number {
          font-family: 'Roboto';
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
          color: #4DA1FF;
        }

        .overall-btn__number-color {
          color: #FF6D4A;
          display: flex;
          align-items: center;

          .overall-btn__number-icon {
            font-size: 6px;
            padding-right: 7px;
          }
        }
      }
    }

    .user-wrap__overall-activity {

      .overall-activity__title {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.39px;
        color: #323C47;
        margin-left: 24px;
        margin-bottom: 10px;
      }
    }
  }
}

.date-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  color: #474F58;
  letter-spacing: 0.13px;
  position: relative;
  margin-bottom: 46px;

  .date-title__number {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .date-title__ordinal {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
  }

  &:before {
    position: absolute;
    display: block;
    content: "";
    width: 52px;
    border-bottom: 4px solid #4DA1FF;;
    border-radius: 2px;
    bottom: -12px;
  }
}

.sessions-scroll {
  overflow: auto;
  max-height: calc( 100vh - 345px);

  //Scrollbar
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(77, 161, 255, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}

/*
white-space: nowrap;
overflow: hidden;
text-overflow: clip;*/
