.sidebar-documents {
  padding: 23px 1px 0 7px;
  //Sidebar header
  .documents-header {
    display: flex;
    align-items: center;
    margin-bottom: 47px;
    margin-left: 10px;

    .documents-header__icon {
      display: flex;
      justify-content: center;
      background-color: #EAF4FF;
      width: 55px;
      height: 55px;
      border-radius: 4px;
      margin-right: 26px;
      position: relative;

      .documents-header__icon-img {
        position: absolute;
        top: 13px;
      }
    }

    .documents-header__content {

      .documents-header__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 19px;
        line-height: 23px;
        color: #323C47;
      }

      .documents-header__progress-bar {

        .documents-header__content-progress {
          width: 110px;
          height: 3px;
          background-color: rgba(77, 161, 255, 0.2);
          border-radius: 6px;

          .progress-bar {
            background-color: #4DA1FF;
          }
        }

        .documents-header__content-text {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 36px;
          color: #989898;
        }
      }
    }
  }
//Sidebar content
  .documents-wrap {

    .documents-item {
      position: relative;
      border: none;
      margin-bottom: 19px;

      &:last-of-type {
        margin-bottom: 0;
      }
      //All header content
      .documents-item__header {
        border-bottom: 1px solid #EEEEEE;
        background-color: #FFFFFF;
        padding: 0 0 9px 1px;
        margin: 0;
        position: relative;

        .documents-item__header-text {
          margin: 0;

          .documents-item__header-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            width: 100%;

            .documents-icon {
              transform: rotate(180deg);
              font-size: 10px;
              color: #808FA3;
              mix-blend-mode: normal;
              opacity: 0.4;
            }

            &.collapsed {

              .documents-icon {
                transform: rotate(0deg);
              }
            }

            &:focus {
              box-shadow: none;
            }
          }

          .documents-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.314286px;
            color: #DCE0E5;
            text-transform: uppercase;
          }
        }
      }
      //Settings content
      .documents-settings__content {
        padding-top: 12px;

        .documents-settings__content-body {
          padding: 0;

          .documents-switch {
            display: flex;
            flex-direction: column;
            padding-left: 0;
            position: relative;
            margin-bottom: 15px;

            .documents-switch__input {

              &:focus {

                &~ .documents-switch__label {

                  &:before {
                    box-shadow: none;
                  }
                }
              }

              &:checked {

                &~ .documents-switch__label {

                  &:before {
                    border-color: #4DA1FF;
                    background-color: #4DA1FF;
                  }

                  &:after {
                    transform: translateX(14px);
                  }
                }
              }

            }

            .documents-switch__label {
              position: static;
              width: 100%;
              cursor: pointer;
              font-family: 'Montserrat', sans-serif;
              font-weight: normal;
              font-size: 13px;
              line-height: 19px;
              letter-spacing: -0.0928571px;
              color: #262D37;

              &:before {
                position: absolute;
                left: auto;
                right: 1px;
                width: 26px;
                height: 11px;
              }

              &:after {
                position: absolute;
                left: auto;
                right: 14px;
                top: 2.5px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #FFFFFF;
                border: 1px solid #D0D7DD;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
              }
            }

            .documents-switch__label-text {
              display: inline-block;
              font-family: 'Montserrat', sans-serif;
              font-weight: normal;
              font-size: 9px;
              line-height: 16px;
              color: #989898;
            }
          }
        }
      }

      .documents-recent__content {
        padding-top: 20px;

        .documents-recent__content-body {
          list-style-type: none;
          padding: 0;

          .recent-content {
            position: relative;
            margin-bottom: 23px;
            //Title
            &:before {
              position: absolute;
              display: block;
              content: " ";
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #4DA1FF;
              top: 3px;
            }

            .recent-content__title {
              font-family: 'Montserrat', sans-serif;
              font-weight: normal;
              font-size: 11px;
              line-height: 13px;
              color: #323C47;
              display: flex;
              flex-direction: column;
              padding-left: 17px;
              margin-bottom: 12px;

              .recent-content__title-time {
                font-family: 'Montserrat', sans-serif;
                font-weight: normal;
                font-size: 9px;
                line-height: 11px;
                color: #BCC7CF;
                padding-top: 5px;
              }
            }
            //Content file
            .recent-content__file {
              list-style-type: none;
              padding: 0;

              .recent-content__file-item {
                margin-bottom: 7px;

                .file-item__link {
                  font-family: 'Montserrat', sans-serif;
                  display: flex;
                  align-items: center;

                  &:hover {
                    text-decoration: none;
                  }

                  //File icon
                  .file-link__icon {
                    width: 23px;
                    height: 10px;
                    margin-right: 9px;
                    border-radius: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 5px;
                    line-height: 6px;
                    text-transform: uppercase;
                    mix-blend-mode: normal;

                  }
                  .file-link__icon-pptx {
                    background-color: rgba(152, 152, 152, 0.13);

                    .file-link__text-pptx {
                      color: #868686;
                    }
                  }
                  .file-link__icon-pdf {
                    background-color: rgba(255, 109, 74, 0.1);

                    .file-link__text-pdf {
                      color: #FF6D4A;
                    }
                  }
                  .file-link__icon-jpeg {
                    background-color: rgba(152, 152, 152, 0.13);

                    .file-link__text-jpeg {
                      color: #989898;
                    }
                  }
                  //File name
                  .file-link__text {
                    font-weight: normal;
                    font-size: 9px;
                    line-height: 11px;
                    color: #989898;
                  }
                }
              }
            }
            //Content folder
            .recent-content__folder {
              display: flex;
              flex-wrap: wrap;

              .folder-item__link {
                font-family: 'Montserrat', sans-serif;
                border: 1px solid #E9EFF4;
                border-radius: 3px;
                padding: 7px 9px 9px 9px;
                display: flex;
                align-items: center;
                width: 92px;
                height: 29px;
                justify-content: center;
                margin-right: 18px;
                margin-bottom: 10px;

                &:hover {
                  text-decoration: none;
                }

                .folder-link__icon {
                  width: 14px;
                  height: 24px;
                  margin-right: 10px;
                  fill: #2E92FF;
                }

                .folder-link__text {
                  font-weight: normal;
                  font-size: 9px;
                  line-height: 11px;
                  letter-spacing: 0.0818182px;
                  color: #323C47;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: clip;
                }
              }

            }
          }
        }
      }
    }
  }
}