.sidebar-uploader {
  width: 100%;
  padding: 34px 10px 34px 17px;

  .sidebar-uploader__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
  }

  .sidebar-uploader__content {

  }
}
.sidebar-uploader__header {

  .sidebar-uploader__header-btn {
    width: 56px;
    height: 56px;
    background-color: #808FA3;
    box-shadow: 1px 2px 17px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    margin-right: 24px;

    &:hover {
      background-color: #FFD012;
    }

    .uploader-header__icon {

    }
  }

  .sidebar-uploader__header-text {
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;

    .uploader-header__title {
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #323C47;
      margin: 0;
    }

    .uploader-header__subtitle {
      font-weight: 500;
      font-size: 17px;
      line-height: 36px;
      color: #989898;
    }
  }
}

.sidebar-uploader__content {

  .download-progressbar {
    margin-bottom: 27px;

    &:last-of-type {
      margin-bottom: 0;
    }
    //Progress download
    .download-progressbar__style {
      position: relative;

      .download-progressbar__style-progress {
        height: 5px;
        border-radius: 2px;
        background-color: rgba(77, 161, 255, 0.2);
        margin-right: 16px;
      }
      .download-progressbar__successful {

        .progress-bar {
          background-color: rgba(77, 161, 255, 0.8);
        }
      }
      .download-progressbar__progress {

        .progress-bar {
          background-color: #4DA1FF;
        }
      }
    }

    .download-progressbar__subtitle {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 12px;
      line-height: 36px;
      color: #989898;

      .download-progressbar__subtitle-index {
        font-size: 9px;
      }
    }
    //View file
    .download-progressbar__view {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      color: #4DA1FF;

      &:hover {
        text-decoration: none;
      }
    }
    .download-progressbar__view-no {
      mix-blend-mode: normal;
      opacity: 0.27;
    }
    //File name
    .download-progressbar__file {

      .download-progressbar__file-img {
        width: 107px;
        height: 67px;
        margin-bottom: 9px;
      }
      .download-progressbar__file-name {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.1px;
        color: #262D37;
      }
    }
  }
}
//Buttons cancel and sucsess
.download-successful {
  position: absolute;
  top: -4px;
  right: 0;
  font-size: 7px;
  cursor: pointer;

  .download-successful__icon {
    color: #4A90E2;
  }
}
.download-cancel {
  position: absolute;
  top: -4px;
  right: 0;
  font-size: 7px;
  padding: 0;

  .download-cancel__icon {
    color: #FF6D4A;
  }
}