.sidebar-sessions {
  padding: 35px 0px 0px 25px;

  .allert-item {
    display: flex;
    align-items: center;
    margin-bottom: 61px;
    position: relative;

    .allert-item__icon {
      padding-right: 24px;
    }

    .allert-item__number {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      color: #FFFFFF;
      letter-spacing: -0.0857143px;
      background: linear-gradient(180deg, #FF7878 0%, #FF4F4F 100%);
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -5px;
      left: 39px;
    }

    .allert-item__content {

      .allert-item__content-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #323C47;
      }

      .allert-item__content-subtitle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 17px;
        line-height: 36px;
        color: #989898;
      }
    }
  }

  .tasks-wrap {

    .tasks-item {
      position: relative;
      border: none;
      padding-top: 3px;
      margin-bottom: 33px;

      .tasks-item__header {
        border: none;
        background-color: #FFFFFF;
        padding: 0px;
        margin-bottom: 12px;

        .tasks-item__header-text {
          margin: 0px;

          .tasks-item__header-btn {
            text-align: left;
            padding: 0px;
            display: flex;
            flex-direction: column;

            &:before {
              content: "";
              position: absolute;
              display: block;
              width: 109px;
              height: 5px;
              background-color: rgba(77, 161, 255, 0.8);
              border-radius: 2px;
            }

            &.collapsed {

              &:before {
                width: 50px;
                background-color: rgba(77, 161, 255, 0.4);
              }
            }

            .tasks-item__header-time {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 36px;
              color: #989898;
            }

            &:focus {
              box-shadow: none;
            }
          }

          .tasks-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: -0.1px;
            color: #262D37;
            text-shadow: 0.2px 0.2px #323C47;

            .tasks-title__expired {
              margin-right: 9px;
            }
          }

          .header-done {
            text-decoration: line-through;
          }
        }
      }

      .tasks-item__content {

        .tasks-item__content-body {
          display: flex;
          align-items: center;
          padding: 0px;
          width: 100%;

          .content-body__btn {
            display: flex;
            align-items: center;
            margin-right: 21px;

            .custom-control-input {

              &:focus {

               &~ .content-body__btn-text {

                  &:before {
                    box-shadow: none;
                  }
                }
              }

              &:checked{

                &~ .content-body__btn-text {
                  opacity: 1;

                  &:after {
                    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>");
                  }
                }
              }
            }

            .content-body__btn-text {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 500;
              font-size: 10px;
              line-height: 12px;
              margin-left: 4px;
              opacity: 0.41;

              &:before {
                width: 19px;
                height: 19px;
                top: -4px;
                left: -26px;
              }

              &:after {
                top: -2px;
                left: -24px;
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23989898' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>");
              }
            }
          }

          .content-body__view {
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: #4DA1FF;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}