//Calendar header
.calendar-item {
  padding: 35px 0px 0px 25px;
  display: flex;
  align-items: center;
  margin-bottom: 59px;

  .calendar-item__icon {
    color: #FFFFFF;
    font-size: 26px;
    background-color: #FFD012;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 25px;
  }

  .calendar-item__content {

    .calendar-item__content-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #323C47;
      margin-bottom: 0px;
    }

    .calendar-item__content-subtitle {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 17px;
      line-height: 36px;
      color: #989898;

      .calendar-item__subtitle-number {
        font-family: 'Roboto';
        font-size: 18px;
        margin-right: 5px;
      }
    }
  }
}
//Accounts
.accounts-item {
  padding: 0 46px 0 23px;

  .accounts-item__name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.4px;
    color: #DCE0E5;
    text-transform: uppercase;
    margin-bottom: 12px;
    display: inline-block;
  }
  //Accounts scroll
  .accounts-item__scroll {
    list-style: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 28px;
    letter-spacing: 0.641667px;
    color: #4A4A4A;
    margin-bottom: 17px;

    .dot-style {
      margin-bottom: 7px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:before {
        content: "•";
        padding-right: 4px;
        vertical-align: middle;
        font-size: 50px;
        position: relative;
        bottom: 3px;
      }
    }
    .accounts-item__scroll-one {

      &:before {
        color: #4DA1FF;
      }
    }
    .accounts-item__scroll-two {

      &:before {
        color: #FF6D4A;
      }
    }
  }

  .accounts-item__btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: rgba(77, 161, 255, 0.742018);
    padding: 7px 12px 8px 11px;
    background: #FFFFFF;
    border: 1px solid rgba(77, 161, 255, 0.7);
    border-radius: 2px;
  }
}

.calendar-sidebar {
  margin-bottom: 297px;
}