@import "variables";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'fonts.scss';
@import 'layout.scss';
@import 'components/button.scss';
@import 'components/header.scss';
@import 'components/sessions.scss';
@import 'components/Menu.scss';
@import 'components/sidebar.scss';
@import 'components/sidebarsessions.scss';
@import 'components/meetings.scss';
@import 'components/calendarside.scss';
@import 'components/sidebarmeetings.scss';
@import 'components/createevent.scss';
@import 'components/documents.scss';
@import 'components/sidebardocuments.scss';
@import 'components/sidebaruploader.scss';

.container-grey {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 32px;
  background-color: rgba(244, 248, 249, 1);
  height: 100vh;
}

.container-white {
  background-color: rgba(255, 255, 255, 0.74);
  height: 100vh;
}

.header-title {
  margin-bottom: 40px;
  padding-top: 50px;
}

.element-margin {
  margin-bottom: 30px;
}

.colour-white {
  background-color: #FFFFFF;
  border-radius: 6px;
}

